@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h1 {
	font-weight: 200;
}

.acc {
  text-decoration: none;
  color: var(--color-accent);
}

.tool {
	text-decoration: none;
	color: var(--color-tool);
}

a {
	font-style: italic;
	text-decoration: none;
	color: var(--color-link);
	transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-hover);
  }
}

.tb {
	text-align: justify;
  text-justify: inter-word;
	margin-bottom: 1em;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
	}
}

